<div class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <img
      *ngIf="i === currentSlide"
      [src]="slide.src"
      [alt]="slide.alt"
      class="slide"
    />
  </ng-container>
  <div class="slider-button">
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"><b><</b></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"><b>></b></span>
    </button>
  </div>
</div>
