<div style=" width: 100%; height: 100%; position: fixed;">


    <div class="contentMargin">

      <form (ngSubmit)="onSubmit()" required>
      <div style=" width: 55%; height:50px; margin-left:auto; margin-right: auto;  ">
        <p class="title" style="position: absolute; ">LOG IN TO YOUR ACCOUNT</p>
      </div>
      <div >
        <input type="email" id="email" name="email" [(ngModel)]="email" class="inputArea" placeholder="E-MAIL"  />
      </div>

      <div>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="inputArea"  placeholder="PASSWORD"  />
      </div>

      <button type="submit" class="submitButton">LOG IN</button>

      </form>

      <div style=" width: 55%; height:50px; margin-left:auto; margin-right: auto; margin-top: 50px;  ">
        <p class="title" style="position: absolute; ">NEED AN ACCOUNT?</p>
      </div>

      <button (click)="goToRegister()" type="submit" class="registerButton">REGISTER</button>

    </div>


</div>
