.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px solid;
  padding: 0.8rem;
  margin-top: 1rem;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
}
.search-input{
  padding: 10px 40px 10px 15px;
  width: 70%;
}
.title-text{
  font-family: serif;
  font-size: 35px;
  border-bottom: 0;
}
