

<div style="  width: 100%; height: 100%; margin-top: 10px;">
  <div style="font: bold; padding:3%; color: black; font-size: 20px;">
    <strong>{{name}}  {{surName}}</strong>
  </div>

  <div style="padding:2%;">
    <button class="button2">ADDRESS</button>
    <br>
    <p style="padding-left: 1%;">null</p>

  </div>

  <div style="padding:2%; color:rgb(71, 71, 71);">
    <button class="button2">E-MAIL</button><br>
    <p style="padding-left: 1%;">{{email}}</p>
  </div>

  <div style="padding: 2%; color:rgb(71, 71, 71);">
    <button class="button2"> PHONE NUMBER</button><br>
    <p style="padding-left: 1%;">{{phoneNumber}}</p>
  </div>

  <div style="padding: 2%;">
    <button  style="color:rgb(170, 168, 168);" (click)=logOut()>
      LOG OUT

    </button>

  </div>

</div>
