.inputArea{
  font-size: 11px;
  color: rgb(75, 68, 68);
  width: 95%;
   padding: 5px;
   margin: 5px;
   border:none;
   border-bottom: 1px solid rgb(87, 86, 86);
}

.registerButton{
  width: 90%;
  height: 75%;
  background-color: rgb(255, 255, 255);
  color: rgb(156, 154, 154);
  border: 1px solid rgb(87, 86, 86);
}

.title{
  width: 50%;
  height:50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}

.contentMargin{
  width: 50%;
  height:250px;
  margin-right: auto;
   margin-left: auto;
   margin-top: 10px;
}

.buttonDiv{

  text-align: center;
  width: 30%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

