.button{
  background-color: white;
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.button:focus{
  outline: none;
}

.button:hover{
  background-color: #f3f3f3;
}


.refundButton{
  background-color: #bbb7b7;
  border: none;
  color: white;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.refundButton:focus{
  outline: none;
}

.refundButton:hover{
  background-color: #f18a8a;
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
